[build]
  command = "npm run build"
  publish = "out"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/vote"
  to = "/.netlify/functions/vote"
  status = 200

[[redirects]]
  from = "/"
  to = "/hu/"
  status = 302

[build.environment]
  NODE_VERSION = "18"